body {
  background-color: hsl(0, 0%, 98%);
}
.product-price {
  display: inline-block;
  float: right;
}


.quantity {
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}

.chg-quantity {
  width: 12px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  transition: 0.1s;
}

.chg-quantity:hover {
  opacity: 0.6;
}

.hidden {
  display: none !important;
}

.link {
  text-decoration-line: none;
}


.black {
  color: black;
}
.total-items {
  position: relative;
  right: 10px;
}


